body {
    margin-top: 5rem;
}

.wrapper-home-page {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
    text-align: center;
}

.text-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}

.button-group{
    margin: 8rem;
}