.input-box,
.button-box {
    width: 100%;
    margin: 1rem 0;
}

.custom-input {
    width: 100%;
}

span Link {
    color: var(--primary-color);
    font-weight: bold
}

.custom-button {
    width: 100%;
}