body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  width: 100%;
}
